<p id="notice"><%= notice %></p>

<h1>Transporters</h1>

<table>
  <thead>
    <tr>
      <th>Transporter name</th>
      <th>Address</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transporters.each do |transporter| %>
      <tr>
        <td><%= transporter.transporter_name %></td>
        <td><%= transporter.address %></td>
        <td><%= transporter.phone %></td>
        <td><%= link_to 'Show', transporter %></td>
        <td><%= link_to 'Edit', edit_transporter_path(transporter) %></td>
        <td><%= link_to 'Destroy', transporter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transporter', new_transporter_path %>
