<%= form_with(model: proposal_header, remote: true) do |f| %>
  <% if proposal_header.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proposal_header.errors.count, "error") %> prohibited this proposal_header from being saved:</h2>

      <ul>
      <% proposal_header.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "Müşteri ID" %>
    <%= f.text_field :customer_id , value: @cust_id , id:"cust-id" %>
    <%= f.label :Başlık %>
    <%= f.text_field :title %>
    <%= f.label :Açıklama %>
    <%= f.text_field :description %>
  </div>
  <div>
    <p1> Teklif Detayı: </p1>
    <%= f.fields_for :prop_dets do |prop_det| %>
      <%= render "prop_det_fields" , f:prop_det %>
    <% end %>
  </div>
  <div class="add-prop-det">
    <%= link_to_add_association 'Satır Ekle' , f, :prop_dets ,class: "btn btn-success" , id:"satir-ekle"%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

