<p id="notice"><%= notice %></p>

<p>
  <strong>Order date:</strong>
  <%= @order_header.order_date %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @order_header.deadline %>
</p>

<p>
  <strong>Invoice number:</strong>
  <%= @order_header.invoice_number %>
</p>

<p>
  <strong>Shipment date:</strong>
  <%= @order_header.shipment_date %>
</p>

<%= link_to 'Edit', edit_order_header_path(@order_header) %> |
<%= link_to 'Back', order_headers_path %>
